.Nav_wrapper{
    position: sticky;
    top: 0px;
    height: calc(100vh - 12px);
    width: calc(100% - 28px);
    padding: 6px 14px;
    background-color: #2E332C;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.image_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}
.image_wrapper span{
    display: flex;
    justify-content: center;
}
.image_container{
    width: 100px;
    height: 100px;
    border-radius: 20%;
    object-fit: cover;
}
.items_wrapper div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.items_wrapper div:hover{
    background-color: lightslategray;
    border-radius: 30px;
}

.logout {
    background-color: #00BFA6;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    letter-spacing: 1.5px;
    width: min-content;
    color: white;
    cursor: pointer;
    align-self: center;
}