
.detalles_wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 7fr;
  height: 100vh;
  overflow: scroll;
}

h1{
  margin: 20px;
}

.seccion_wrapper{
  margin-top: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
}

.primer_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  color: #92b0c4;
}

.hol{
  color: #e27b7b;
  color: #cfc4c4;
  color: #96db99;
  color: #92b0c4;
  color: #d4ca8e;
}