.wrapper {
    height: 100vh;
}
h3 {
    margin: 4px 0px;
}

.profileWrapper {
    height: 100%;
    background-color: rgb(83, 83, 83);
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    justify-items: center;
}

.cuentaWrapper {
    color: black;
    padding: 15vh 5%;
    width: calc(100% - 10%);
    background-color: #FFFFFF;
}
.cuentaWrapper h1 {
    font-size: 50px;
}

.infoWrapper {
    background-color: #393c38;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    justify-items: center;
    overflow: auto;
}

.infoContainer {
    display: flex;
    padding: 25px;
    width: calc(100% - 50px);
    flex-direction: column;
    background-color: #2E332C;
    justify-content: space-around;
}
    
.profilePic {
    height: 100%;
    cursor: pointer;
}