.wrapper{
    display: grid;
    justify-content: center;
    align-items: center;
}

.add{
    width: 57px;
    height: 56px;
    left: 634px;
    top: 617px;
    background: #00BFA6;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.selectOrder select {
    border: 1px solid rgb(142, 140, 140);
    background: none;
    border-radius: 10px;
    color: rgb(142, 140, 140);
    padding: 5px;
    margin-right: 10px;
}

.tabla {
    background-color: #333333;
    border-collapse: collapse;
    border: none;
}

.tabla td, th {
    border:  1px solid rgb(143, 143, 143);
    padding: 10px;
}

.tabla .titulo {
    color: #00BFA6;
}

.tabla .monto {
 background-color: #00BFA6;
}

.tabla button {
    background-color:#00BFA6;
    border: none;
    border-radius: 10px;
    color: white;
}

.tabla tr:nth-child(even){
    background-color: #555555;
}

.form{
    padding: 10px;
    background-color: #005d34;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form input{
    background-color: #0c7f4d;
    border: none;
    margin: 5px;
    color: white;
}

.form select {
    background-color: #0c7f4d;
    border: none;
    color: white;
}

.meses {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    font-size: 15px;
}

/* #enero{
    background-color: rgb(56, 26, 8);
    color: #028170;
} */

.meses a {
    height: 50px;
    width: auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 1px solid rgb(142, 140, 140);
    border-radius: 10px;
    color: rgb(142, 140, 140);
    text-decoration: none;
    font-weight: bold;
    transition: background-color .2s;
    cursor: pointer;
}

.meses .todos {
    background-color: black;
    color: rgb(67, 67, 67);
    border-color:rgb(67, 67, 67);
}
